.container_principal{
  position: relative;
  top: 100%;
  left: 0.1%;
  width: 100%;
  height: 100%;
}

/*butt para abrir el menu despegable*/
.abrir-navegacion {
    position: fixed; 
    top: 3.5%; 
    right: 80px; 
    
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #9dc0c2;
    border: 2px solid #000000;
    border-radius: 15px;
    z-index: 1000; 
  }

  .abrir-navegacion:hover {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 5px #01ff62a1,
                0 0 25px #01ff62a1,
                0 0 25px #01ff62a1,
                0 0 25px #01ff62a1;
}

/*navegacion izquieda*/
.menu {
    position: fixed;
    top: 0;
    left: -40%;
    width: 15%;
    height: 100%;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    justify-content: center;
    font-size: 2rem;
  }

  .menu ul:hover a {
    color: #dbd3d3;
  }
  .menu ul:hover a:hover {
    color: #3cff00;
    box-shadow: 0 2px 0 0 currentcolor;
  }

  .menu ul {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-35%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  
  .menu li {
    margin-bottom: 20px;
  }
  
  .menu a {
    color: #e75e14;
    text-decoration: none;
}

/*divicion de pagina*/
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .columna-izquierda{
    flex-basis: 5%;
    flex-grow: 1; 
    background-color: #000000;
  }
  .columna-derecha {
    flex-basis: 5%;
    flex-grow: 1; 
    background-color: #000000;
  }
  
  .columna-central {
    flex-basis: 1000px;
    background-color: #333;
    border-radius: 20px;
}

/*titulo de la empresa*/
.titulo-empresa{
    color: #ffffff;
    font: normal 140px Varela Round, sans-serif;
    height: px;
    left: 0;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    animation: animar linear 5000ms infinite;
    z-index: 10;
    font-size: 40px;
    margin-top: 20px;
  }
  
  @keyframes animar {
    0% {
      text-shadow:
        
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
      
      ;
    }
    30% {
      text-shadow:
        -4px -4px 0 #13f1fc,
        -3px -3px 0 #13f1fc,
        -2px -2px 0 #13f1fc,
        -1px -1px 0 #13f1fc,
        4px 4px 0 #da0641,
        3px 3px 0 #da0641,
        2px 2px 0 #da0641,
        1px 1px 0 #da0641
      ;
    }
    50% {
      text-shadow:
        
        -1px 1px 0 #da0641,
        4px -4px 0 #13f1fc,
        
      ;
    }
    80% {
      text-shadow:
        4px 4px 0 #13f1fc,
        3px 3px 0 #13f1fc,
        2px 2px 0 #13f1fc,
        1px 1px 0 #13f1fc,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641
      ;
    }
    100% {
      text-shadow:
        
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        
      ;
    }
}

/*imagen*/
  .conteinerimgs { 
    text-align: center;
  }
  
  .centrar-imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
    height: auto; 
  }

/*menu de pagina principal */
.menuclas {
    text-align: center;
  }
 
  .menu-bolitas li {
    position: absolute;
  }

  .bolita {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
    margin-bottom: 5px;
    border: 2px solid #ff0000;
  }

  .bolita:hover {
    background-color: #3cff00; 
  }

  .bolita::before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #ff0000;
  }

  /*horas estras*/
  .bolita-1 {
    position: absolute;
    top: -200px; 
    left: 150px; 
  }

  .nombreuno {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: -140px; 
    left: 130px; 
    font-size: 20px;
    color: #ff0303;
    white-space: nowrap;
  }

  .bolita:hover + .nombreuno {
    color: #3cff00; 
  }

  /*asistencia*/
  .bolita-2 {
    position: absolute;
    top: 10px; 
    left: 475px; 
  }

  .nombredos {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: 70px; 
    left: 460px; 
    font-size: 20px;
    color: #ff0303;
  }
  .bolita:hover + .nombredos {
    color: #3cff00; 
  }

  /*incapacidad */
  .bolita-3 {
    position: absolute;
    top: -200px; 
    left: 800px; 
  }

  .nombretres {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: -140px; 
    left: 780px; 
    font-size: 20px;
    color: #ff0303;
  }

  .bolita:hover + .nombretres  {
    color: #3cff00; 
  }

  /*registrar nuevo empoleado*/
  .cuadradouno {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: -350px; 
    left: 1px; 
    background-color: #000000;
    display: block;
    padding: 10px 30px;
    margin: 0 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 20px;
    color: #ffffff;
    white-space: nowrap; 
    text-decoration: none; 
  }

  .cuadradouno:hover {
    color: #00ff00; 
    text-decoration: underline; 
    border-color: #00ff00;
  }

  /* borrar empleado*/
  .cuadradodos {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: -300px; 
    left: 1px; 
    background-color: #000000;
    display: block;
    padding: 10px 30px;
    margin: 0 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 20px;
    color: #ffffff;
    white-space: nowrap; 
    text-decoration: none; 
  }

  .cuadradodos:hover {
    color: #00ff00; 
    text-decoration: underline; 
    border-color: #00ff00; 
  }

  /*inventario*/
  .cuadradotres {
    font-family: "Helvetica", Arial, sans-serif;
    position: absolute;
    top: -350px; 
    left: 825px; 
    background-color: #000000;
    display: block;
    padding: 10px 30px;
    margin: 0 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 20px;
    color: #ffffff;
    white-space: nowrap; 
    text-decoration: none;
    position: relative;
  }

  .cuadradotres:hover {
    color: #00ff00; 
    text-decoration: underline; 
    border-color: #00ff00;
}


/*botón de cierre de sesión */
.cerrar-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
  }

  .boton-cerrar {
    font-family: "Arial Black", Arial, sans-serif;
    color: #dbd3d3;
    position: absolute;
    top: -430px; 
    left: 440px; 
    width: 90px;
    height: 40px;
    border: 2px solid #ff0000;
    border-radius: 15px;
    background-color: #000000;
    position: relative;
    cursor: pointer;
  }

  .boton-cerrar:hover {
    background-color: #ff0000;
    border-radius: 15px;
    box-shadow: 0 0 5px #e01616a1,
                0 0 25px #e01616a1,
                0 0 25px #e01616a1,
                0 0 25px #e01616a1;
}

