
.container_principal{
    position: relative;
    top: 100%;
    left: 0.1%;
    width: 100%;
    height: 100%;
   /* padding: 40px;*/
    /*transform: translate(-50%, -50%); */
  }

.abrir-navegacion {
    position: fixed; 
    top: 3.5%; 
    right: 80px; 
    
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #9dc0c2;
    border: 2px solid #000000;
    border-radius: 15px;
    z-index: 1000; 
  }

  .abrir-navegacion:hover {
    background-color: #ffffff;


    
    border-radius: 15px;
    box-shadow: 0 0 5px #01ff62a1,
                0 0 25px #01ff62a1,
                0 0 25px #01ff62a1,
                0 0 25px #01ff62a1;

  }

/*navegacion izquieda*/
  .menu {
    position: fixed;
    top: 0;
    left: -40%;
    width: 15%;
    height: 100%;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    justify-content: center;
    font-size: 1.6rem;
    z-index: 1000;
  }

  .menu ul:hover a {
    color: #ffffff;
  }
  .menu ul:hover a:hover {
    color: #ff0000;
    box-shadow: 0 2px 0 0 currentcolor;
  }

  .menu ul {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-35%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  
  .menu li {
    margin-bottom: 20px;
  }
  
  .menu a {
    color: #2bff00;
    text-decoration: none;
  }

/*divicion de pagina*/
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: #da0641;*/
  }
  
  .columna-izquierda{
    flex-basis: 5%;
    
    flex-grow: 1; 
   background-color: #000000;
   
  }
  .columna-derecha {
    flex-basis: 5%;
    flex-grow: 1; 
    background-color: #000000;
    
  }
  
  .columna-central {
    flex-basis: 1250px;
    background-color: #333;
    border-radius: 20px;
  }


/*titulo de la empresa*/
.estilo {
  position: fixed;
  top: 0;
  right: 35%;
  transform: translateX(-50%, -50%); 
  
  width: 400px;
  height: 60px;
  z-index: 1000;
  /*background-color: #000000;*/
}


.titulo-empresa{

  color: #ffffff;
  font: normal 140px Varela Round, sans-serif;

  left: 0;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: animar linear 5000ms infinite;
 
  font-size: 40px;
  margin-top: 2px;
  
  
  }

  
  @keyframes animar {
    0% {
      text-shadow:
        
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
      
      ;
    }
    30% {
      text-shadow:
        -4px -4px 0 #13f1fc,
        -3px -3px 0 #13f1fc,
        -2px -2px 0 #13f1fc,
        -1px -1px 0 #13f1fc,
        4px 4px 0 #da0641,
        3px 3px 0 #da0641,
        2px 2px 0 #da0641,
        1px 1px 0 #da0641
      ;
    }
    50% {
      text-shadow:
        
        -1px 1px 0 #da0641,
        4px -4px 0 #13f1fc,
        
      ;
    }
    80% {
      text-shadow:
        4px 4px 0 #13f1fc,
        3px 3px 0 #13f1fc,
        2px 2px 0 #13f1fc,
        1px 1px 0 #13f1fc,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641
      ;
    }
    100% {
      text-shadow:
        
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        
      ;
    }
  }



  /*efectos de navegacion*/
  .efectos-navegación {
    
    position: fixed;
    top: 0;
    left: 12%;
    height: 40px;
 
    width: 100%;
    
     font-family: "Inter", sans-serif;
     /*background-color: #333;*/
     color: #2bff00;
     display: flex;
     align-items: center;
     /*justify-content: center;*/
     font-size: 1.3rem;
     margin-top: 50px;
     margin-left: 68px;
     z-index: 1000;
     /*background-color: #555555;*/
   }
 
   .a_menu {
     color: inherit;
     text-decoration: none;
     transition: 0.25s ease;
   }
 
   .menu-central ul {
     display: flex;
     flex-wrap: wrap;
   }
   .menu-central ul li {
     margin-left: 0.75em;
     margin-right: 0.75em;
   }
   .menu-central ul:hover a {
     color: #ffffff;
   }
   .menu-central ul:hover a:hover {
     color: #ff0000;
     box-shadow: 0 2px 0 0 currentcolor;
   }
	.a_menu_set{
    color: #7e7b7b;
     text-decoration: none;
     transition: 0.25s ease;
   }
