<br><br><br>
<body>
    <div class="container_principal">

        <header>
            <button (click)="buttabrirnavegacion()"  class="abrir-navegacion" #abrirnavegacion>&#9776;</button>

                <nav class="menu"  id="particles-js" #menu>
                    <ul class="menu-contenido">
                        <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
                        <li><a href="#">Cerrar sesion</a></li>
                        <li><a href="#">Actualizar Empleado</a></li>
                    </ul>
                </nav>
        </header>
        <div  class="contenedor">
        
            <div class="columna-izquierda" #columnaizquierda></div>
            
            <div class="columna-central" #columnacentral>
                <div class="estilo">
                    <h2 class="titulo-empresa">{{ nom_empresa }}.</h2>
                </div>
                <div class="efectos-navegación"> 
                    <nav class="menu-central">
                        <ul class="estilonav">
                        <li><a class="a_menu" routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
                            <li><a class="a_menu" routerLink="/regitroEmpleado" routerLinkActive="active">R.Empleado</a></li>
                            <li><a class="a_menu" routerLink="/asistencia" routerLinkActive="active">R.Asistencia</a></li>
                            <li><a class="a_menu" routerLink="/horasExtras" routerLinkActive="active" >R.Horas Extras</a></li>
                            <li><a class="a_menu" routerLink="/incapacidad" routerLinkActive="active">R.Incapacidad</a></li>
                            <li><a class="a_menu_set" routerLink="/InventarioGeneral" routerLinkActive="active">Inventario</a></li>
                            <li><a class="a_menu" routerLink="/deleteEmpleado" routerLinkActive="active">Borrar Empleado</a></li>
                        </ul> 
                    </nav>
                </div>

                <!--animacion de gargando imagen-->
                <div class="cargando-overlay" *ngIf="loading">
                    <div class="cargando-alert">
                        <div class="spinner"></div>
                        <div>Cargando...</div>
                    </div>
                </div>

                <br><br><br>

                <div class="cont">
                    <div class="perfil">
                        <div class="primero">
                            <div class="imagen">
                                <img *ngIf="imagenSrcPredeterminada" [src]="imagenSrcPredeterminada" alt="Imagen de Perfil">
                                <img [src]="fotografia" alt="Imagen descargada" *ngIf="fotografia" />
                            </div>
                            <div class="infoBasico">
                                <div class="cedula">
                                    <i class="fa-solid fa-id-card"></i>
                                    <p class="id"><strong>{{ cc }}</strong>:{{ numeroCedula }}</p>
                                </div>
                                <div class="email">
                                    <i class="fa-solid fa-envelope"></i>
                                    <p class="correo"><strong>Correo:</strong> {{ correo }}</p>
                                </div>
                                <div class="contacto">
                                    <i class="fa-solid fa-phone"></i> 
                                    <p class="cel"><strong>Cel:</strong> {{ pais }} {{ cel }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="nombre_cargo">
                            <h2 class="nombre_apellido">{{ nombre }} {{ apellidos }}</h2>
                            <p class="cargo">{{ cargo }} </p>
                        </div>
                       
                        <div class="contenerdo">

                            <div class="izquierda">

                                <h2 class="texPerfil">PERFIL</h2>

                                <div class="contened">

                                    <h2 class="textitulo">datos pesonales</h2>

                                    <div class="datos-personales">
                                        <p><strong>Fecha de Nacimiento:</strong> {{ fechaNacimiento | date:'yyyy-MM-dd' }}</p>
                                        <p><strong>Dirección:</strong> {{ direccion }}</p>
                                    </div>

                                    <h2 class="textitulo">tiempos de trabajo</h2>

                                    <div class="horario-trabajo">
                                        <p><strong>Horario de Trabajo:</strong> {{ horaInicio }} - {{ horafin }}</p>
                                        <p><strong>Días de Trabajo:</strong> {{ diaInicio }} - {{ diaFin }}</p>
                                    </div>

                                    <h2 class="textitulo"> asistencias </h2>

                                    <div class="asistencias">
                                        <div class="contenedo_asistencia_datostablas" style="display: block;">
                                            <p><strong>fecha: </strong>  {{ fechaAsistencia | date:'yyyy-MM-dd' }} </p>
                                            <p><strong>hora registro: </strong> {{ horario }} </p>
                                        </div>
                                        
                                        <div class="contenedo_asistencia" style="display: none;">
                                            <div *ngFor="let tabla of ContTablaAsistenciaPorMes">
                                                <table class="tablacontener">
                                                    <thead>
                                                        <tr class="filatitulo">
                                                            <th><h1 class="th-class"> Mes </h1></th>
                                                            <th><h1 class="th-class"> Fecha </h1></th>
                                                            <th><h1 class="th-class"> Hora de registro </h1></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let datos of tabla.arrayDatos" class="filacontenido">
                                                            <td class="td-class"> {{ tabla.mes | date:'MM' }} </td>
                                                            <td class="td-class"> {{ datos.fecha | date:'yyyy-MM-dd' }} </td>
                                                            <td class="td-class"> {{ datos.horario }} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <br>
                                        <button (click)="buttAsistencia()" class="butt-abrir"> Abrir <i class="fa-solid fa-window-restore fa-beat-fade iconoabrir"></i></button>
                                    </div>

                                    <h1 class="textitulo">Incapacidad</h1>

                                    <div class="incapacidad">

                                        <button (click)="buttIncapacidad()" class="butt-abrir"> Abrir <i class="fa-solid fa-window-restore fa-beat-fade iconoabrir"></i></button>

                                        <div class="contenedor-incapacidad_datostablas" style="display: block;">
                                            <p><strong>fecha de registro: </strong>{{ fechaRegistroIncapacidad | date:'yyyy-MM-dd' }} </p>
                                            <p><strong>fecha de incapacidad: </strong> {{ fecha_incapacidad | date:'yyyy-MM-dd' }} </p>
                                            <p><strong>causa: </strong> {{ causa }} </p>
                                            <p><strong>descicion: </strong> {{ descripcion }}</p>
                                            <p><strong>comprobante de incapacidad: </strong><a [href]= "archivo_incapacidad" target="_blank">Archivo pdf de incapacidad</a></p>
                                            <p><strong>dias de incapacidad: </strong>  {{ cantidad_dias_incapacidad }} </p>
                                        </div>

                                        <div class="contenedo_incapacidad" style="display: none;" >
                                            <div *ngFor="let tabla of ContTablaIncapacidadPorMes" >
                                                <div *ngFor="let datos of tabla.arrayDatos" class="contenedor-incapacidad">
                                                    <p><strong>fecha de registro: </strong>{{ datos.fecha_registro | date:'yyyy-MM-dd' }} </p>
                                                    <p><strong>fecha de incapacidad: </strong> {{ datos.fecha_incapacidad | date:'yyyy-MM-dd' }} </p>
                                                    <p><strong>causa: </strong> {{ datos.causa }} </p>
                                                    <p><strong>descicion: </strong> {{ datos.descripcion }}</p>
                                                    <p><strong>comprobante de incapacidad: </strong><a [href]= "datos.archivo_incapacidad" target="_blank">Archivo pdf de incapacidad</a></p>
                                                    <p><strong>dias de incapacidad: </strong>  {{ datos.cantidad_dias_incapacidad }} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="derecha">

                                <div class="contened">

                                    <h2 class="textitulo">Cuenta Bancaria</h2>

                                    <div class="cuentaBancaria">
                                        <p><strong>Entidad Bancaria </strong> {{ nom_banco }} </p>
                                        <p><strong>tipo de cuenta</strong> {{ tipo_cuenta }} </p>
                                        <p><strong>numero de cuenta: </strong> {{ num_cuenta_bancaria }} </p>
                                        <p><strong>Salario:</strong> $ {{ formatoSalario(salario) }}</p>
                                    </div>

                                    <h1 class="textitulo">Horas Extras</h1>
                                    <div class="horas-extras">
                                        <div class="contenedo_horas-extras_datostablas" style="display: block;">
                                            <p><strong>Fecha: </strong> {{ fechaRegistroHorasExtras | date:'yyyy-MM-dd' }} </p>
                                            <p><strong>horas extras: </strong> {{ horas_extras }} </p>
                                            <p><strong>total: </strong> {{ totalHorasExtras }} </p>
                                        </div>
                                        
                                        <div class="contenedo_horasExtras" style="display: none;">
                                            <div  *ngFor="let tabla of ContTablaHorasExtrasPorMes">
                                                <table class="tablacontener">
                                                <thead>
                                                    <tr class="filatitulo">
                                                        <th><h1 class="th-class">Fecha:</h1></th>
                                                        <th><h1 class="th-class">horas Extras:</h1></th>
                                                        <th><h1 class="th-class">Total horas:</h1></th>
                                                    </tr>                                               
                                                </thead>
                                                <tbody>
                                                    <tr  *ngFor="let datos of tabla.arrayDatos" class="filacontenido">
                                                        <td class="td-class"> {{ datos.fecha | date:'yyyy-MM-dd' }} </td>
                                                        <td class="td-class"> {{ datos.horas_extras }} </td>
                                                        <td class="td-class"> {{ datos.total }} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                       
                                        <button (click)="buttHorasExtras()" class="butt-abrir"> Abrir <i class="fa-solid fa-window-restore fa-beat-fade iconoabrir"></i></button>

                                    </div>

                                    <h1 class="textitulo">Inasistencias </h1>

                                    <div class="inasistencia">

                                        <button (click)="buttInasistencia()" class="butt-abrir"> Abrir <i class="fa-solid fa-window-restore fa-beat-fade iconoabrir"></i></button>

                                        <div class="contenedo_inasistencia_datostablas" style="display: block;">
                                            <p><strong>fecha: </strong> {{ fechaInasistencia | date:'yyyy-MM-dd' }} </p>
                                        </div>

                                        <div class="contenedo_inasistencia" style="display: none;">
                                            <div *ngFor="let tabla of ContTablainasistenciaPorMes">

                                                <table class="tablacontener">
                                                    <thead>
                                                        <tr class="filatitulo">
                                                            <th><h1 class="th-class">Messs </h1></th>
                                                            <th><h1 class="th-class">Fechaaa </h1></th>
                                                        </tr>                                               
                                                    </thead>
                                                    <tbody>
                                                        <tr  *ngFor="let datos of tabla.arrayDatos" class="filacontenido">
                                                            <td class="td-class"> {{ tabla.mes | date:'MM' }} </td>
                                                            <td class="td-class"> {{ datos.fecha | date:'yyyy-MM-dd' }} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                <br>
            </div>
            
            <div div class="columna-derecha" #columnaderecha></div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>
    
    



