
<br><br><br>
<body>
  <div class="container_principal">

    <header>
        <button (click)="buttabrirnavegacion()"   class="abrir-navegacion" #abrirnavegacion>&#9776;</button>

            <nav class="menu"  id="particles-js" #menu>
                <ul class="menu-contenido">
                    <li><a routerLink="/inicio" routerLinkActive="active" >Inicio</a></li>
                    <li><a href="#">Cerrar sesion</a></li>
                    <li><a href="#">Actualizar Empleado</a></li>
                    <li><a href="#">Actualizar Perfil</a></li>
                    <!--li><a href="#">Incapacidad</a></li>
                    <li><a href="#">Inventario</a></li>
                    <li><a href="#">Borrar Empleado</a></li-->
                </ul>
            </nav>
    </header>
    <div  class="contenedor">
       
      <div class="columna-izquierda" #columnaizquierda></div>
        
        
      <div class="columna-central" #columnacentral>
          <div class="estilo">
              <h2 class="titulo-empresa">{{ nom_empresa }}.</h2>
          </div>
          <div class="efectos-navegación">
              <nav class="menu-central">
                  <ul class="estilonav">
                      <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
                      <li><a routerLink="/regitroEmpleado" routerLinkActive="active">R.Empleado</a></li>
                      <li><a href="#Movies">R.Asistencia</a></li>
                      <li><a href="#">R.Horas Extras</a></li>
                      <li><a href="#">R.Incapacidad</a></li>
                      <li><a href="#">Inventario</a></li>
                      <li><a href="#">Borrar Empleado</a></li>

                  </ul> 
              </nav>
          </div>
          <br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br>

          <div class="container">
            <!--animacion de gargando imagen-->
            <div class="cargando-overlay" *ngIf="loading">
              <div class="cargando-alert">
                  <div class="spinner"></div>
                  <div>Cargando...</div>
              </div>
            </div>

            <div class="col1">
              <div class="card">
                <div class="front">

                  <div class="cont_icon" >
                    <i class="fa-solid fa-ticket icon"></i>
                  </div>

                  <span class="chip"></span>
                  <span class="num_cuenta">{{ num_cuenta }}</span>
                  <div class="tipo"><span class="tipo_cuenta">{{ tipoCuenta }}</span></div>
                  <span class="nom_banco">{{ nombreEntidad }}</span>
                  <span class="salario">{{ salario }}</span>
                </div>
              </div>
            </div>
          
            <div class="col2">
              <form >
                <label class="label_">NUMERO DE CUENTA</label>
                <input class="inputnum_cuenta" type="text"  maxlength="37" (input)="updatenum_cuenta($event)" />
                
                <label class="label_">NOMBRE DE LA ENTRIDAD</label>
                <input class="inputnom_banco" type="text"  (input)="updatInputNom_banco($event)"  /><br>
                
                <label class="label_">TIPO DE CUENTA</label>
                <input class="inputtipo_cuenta" type="text"  (input)="updatiInputTipo_cuenta($event)"  /><br>
            
                <label class="label_">SALARIO</label>
                <input class="inputsalario" type="number" [(ngModel)]="salario" (input)="updatInputSalario($event)"   />
  
                <button class="buttEnviar">Guardar</button>
              
              </form>
              
            </div>
          </div>

        </div>
        <div div class="columna-derecha" #columnaderecha></div>
    </div>

  </div>
</body>
<router-outlet></router-outlet>




