
.container_principal{
    position: relative;
    top: 100%;
    left: 0.1%;
    width: 100%;
    height: 100%;
   /* padding: 40px;*/
    /*transform: translate(-50%, -50%); */
  }

.abrir-navegacion {
    position: fixed; 
    top: 3.5%; 
    right: 80px; 
    
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #9dc0c2;
    border: 2px solid #000000;
    border-radius: 15px;
    z-index: 1000; 
  }

  .abrir-navegacion:hover {
    background-color: #ffffff;


    
    border-radius: 15px;
    box-shadow: 0 0 5px #01ff62a1,
                0 0 25px #01ff62a1,
                0 0 25px #01ff62a1,
                0 0 25px #01ff62a1;

}

/*navegacion izquieda*/
.menu {
    position: fixed;
    top: 0;
    left: -40%;
    width: 15%;
    height: 100%;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    justify-content: center;
    font-size: 1.6rem;
    z-index: 1000;
  }

  .menu ul:hover a {
    color: #ffffff;
  }
  .menu ul:hover a:hover {
    color: #ff0000;
    box-shadow: 0 2px 0 0 currentcolor;
  }

  .menu ul {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-35%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  
  .menu li {
    margin-bottom: 20px;
  }
  
  .menu a {
    color: #2bff00;
    text-decoration: none;
}

/*divicion de pagina*/
.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: #da0641;*/
  }
  
  .columna-izquierda{
    flex-basis: 5%;
    
    flex-grow: 1; 
   background-color: #000000;
   
  }
  .columna-derecha {
    flex-basis: 5%;
    flex-grow: 1; 
    background-color: #000000;
    
  }
  
  .columna-central {
    flex-basis: 1250px;
    background-color: #333;
    border-radius: 20px;
}


/*titulo de la empresa*/
.estilo {
  position: fixed;
  top: 0;
  right: 35%;
  transform: translateX(-50%, -50%); 
  
  width: 400px;
  height: 60px;
  z-index: 1000;
  /*background-color: #000000;*/
  }


  .titulo-empresa{

  color: #ffffff;
  font: normal 140px Varela Round, sans-serif;

  left: 0;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: animar linear 5000ms infinite;
 
  font-size: 40px;
  margin-top: 2px;
  
  
  }

  
  @keyframes animar {
    0% {
      text-shadow:
        
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
      
      ;
    }
    30% {
      text-shadow:
        -4px -4px 0 #13f1fc,
        -3px -3px 0 #13f1fc,
        -2px -2px 0 #13f1fc,
        -1px -1px 0 #13f1fc,
        4px 4px 0 #da0641,
        3px 3px 0 #da0641,
        2px 2px 0 #da0641,
        1px 1px 0 #da0641
      ;
    }
    50% {
      text-shadow:
        
        -1px 1px 0 #da0641,
        4px -4px 0 #13f1fc,
        
      ;
    }
    80% {
      text-shadow:
        4px 4px 0 #13f1fc,
        3px 3px 0 #13f1fc,
        2px 2px 0 #13f1fc,
        1px 1px 0 #13f1fc,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641
      ;
    }
    100% {
      text-shadow:
        
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        
      ;
  }
}

/*efectos de navegacion*/
.efectos-navegación {
    position: fixed;
    top: 0;
    left: 12%;
    height: 40px;
 
    width: 100%;
    
    font-family: "Inter", sans-serif;
    /*background-color: #333;*/
    color: #2bff00;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    font-size: 1.3rem;
    margin-top: 50px;
    margin-left: 68px;
    z-index: 1000;
    /*background-color: #555555;*/
  }
 
  .menu-central a {
    color: inherit;
    text-decoration: none;
    transition: 0.25s ease;
  }
 
  .menu-central ul {
    display: flex;
    flex-wrap: wrap;
  }
  .menu-central ul li {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
  .menu-central ul:hover a {
    color: #ffffff;
  }
  .menu-central ul:hover a:hover {
    color: #ff0000;
    box-shadow: 0 2px 0 0 currentcolor;
}


/*------------------------------------------------------------------------------*/


*{
  margin: 0;
  box-sizing: border-box;
}

html{
  --card-color: #cacaca;
  --text-color: #e1e1e1;
}

body{
  font-family: 'Roboto', sans-serif;
}

/*cargando informacion al servidor*/
.cargando-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }

  .cargando-alert {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #007bff; /* Color del spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
}


.h2{
  position: relative;
  top: 0;
  right: 0;
  left: 30%; 
 /* font-size: 30px;*/
 font-size: 36px; /* Tamaño de fuente */
 color: #9e9b9b; /* Color de texto */
 /*/text-align: center; /* Alineación en el centro */
 text-transform: capitalize; /* Capitalizar la primera letra de cada palabra */
 font-weight: 700; /* Peso de fuente (bold) */
 margin: 20px 0; /* Márgenes superior e inferior */
 text-shadow: 5px 5px 8px rgba(11, 70, 16, 0.829); /* Sombra de texto */
 font-family: "Arial", sans-serif; /* Fuente del texto */



}
 

/*estilos de la targeta*/
.container{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  top: 30px;
  bottom: 0;
  left: -50px;
  right: 0;
  width: 680px;
    
  .col1{
    perspective: 1000;
    transform-style: preserve-3d;
    
    .card{
      position: relative;
      width: 500px;
      height: 280px;
      margin-bottom: 85px;
      margin-right: 10px;
      border-radius: 17px;
      box-shadow: 0 5px 20px -5px rgba(0,0,0,0.1);
      transition: all 1s;
      transform-style: preserve-3d;
      
      .front{
        position: absolute;
        background: var(--card-color);
        border-radius: 17px;

        box-shadow: 15px 20px 0 rgba(0, 0, 0, .6);
        
        border: 2px solid #000; 
    

        padding: 50px;
        width: 100%;
        height: 100%;
        transform: translateZ(1px);
        -webkit-transform: translateZ(1px);
        z-index: 50;
        background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(194, 197, 155, 0.507) 90%);
        /*background-image: repeating-linear-gradient(45deg, rgba(127, 224, 175, 0) 1px, rgba(80, 154, 240, 0.03) 2px, rgba(65, 218, 111, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgb(238, 218, 107) 70%, rgba(207, 199, 199, 0.712) 90%);*/
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        
      }

      .num_cuenta{
        position: absolute;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -1px;
        top: 110px;
        color: var(--text-color);
        word-spacing: 3px;
        transition: color 0.5s;
        color: #e1e1e1;
      }

      .tipo{
        position: absolute;
        bottom: 40px;
        right: 80px;
        width: 180px;
        height: 50px;
        color: var(--text-color);
        transition: color 0.5s;
        .tipo_cuenta{
          font-size: 18px;
          position: absolute;
          margin-left: 55px;
          margin-top: 20px;
          color: var(--text-color);
          font-weight: 500;
          transition: color 0.5s;
          color: #e1e1e1;

        }
        &:after{
          content: 'Targeta';
          position: absolute;
          display: block;
          font-size: 15px;
          margin-left: 50px;
          margin-top: 5;
          color: #e1e1e1;

        }
        &:before{
          content: 'Tipo \a Cuenta';
          position: absolute;
          display: block;
          font-size: 12px;
          white-space: pre;
          margin-top: 8px;
          margin-right: 100px;
          color: #e1e1e1;

        }
      }

      .nom_banco{
        position: absolute;
        font-size: 20px;
      
        /*color: var(--text-color);*/
        transition: color 0.5s;
        color: #e1e1e1;

      }
      .salario{
        position: absolute;
        font-size: 20px;
        bottom: 40px;
        /*color: var(--text-color);*/
        transition: color 0.5s;
        color: #e1e1e1;

        &:after{
          content: 'Sueldo';
          position: absolute;
          display: block;
          font-size: 15px;
          margin-left: 40px;
        }
        &:before{
          content: 'COP';
          position: absolute;
          display: block;
          font-size: 12px;
          white-space: pre;
          margin-top: 5px;
          margin-left: 112px;
          color: #e1e1e1;

        }
      }
      
    }  

  }
}

/*estilos del logo */
.cont_icon {
    position: absolute;
    top: 10%;
    right: 30px;
    width: 80px;
    height: 50px; 
  }

  /* Estilo para el logo user */
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 50px; 
    color: #000000;
}
  
/*estilos del formulario*/
.col2{
  margin: 30px;
  }
  
  /* Estilo para etiquetas */
  .label_ {
    margin-right: 20px;
    font-size: 1.1rem;
    color: #e1e1e1;
    
  }

  .cont{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  /* Estilo para inputs */
  .inputnum_cuenta, .inputnom_banco, .inputtipo_cuenta, .inputsalario {
    width: 250px; 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s; 
    margin: 5px;
    color: #ffffff;
    background: var(--card-color);
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(194, 197, 155, 0.507) 90%);

  }
  /* Estilo para campos de entrada requeridos */
  .requiered {
    color: red;
    margin-right: 5px;
  }

  /* Estilo de hover para los inputs */
  .inputnum_cuenta:hover, .inputnom_banco:hover, .inputtipo_cuenta:hover, .inputsalario:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(85, 255, 6, 0.83), 0 0 30px rgba(85, 255, 6, 0.83);
    border-color: #6f776c; 
}

/* Estilo para el botón */
.buttEnviar {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s; 
  }

  /* Estilo de hover para el botón */
  .buttEnviar:hover {
    background-color: #48a14c; 
}
    
    

  




