
<br><br><br>
<body>
  <div class="container_principal">

    <header>
        <button (click)="buttabrirnavegacion()"   class="abrir-navegacion" #abrirnavegacion>&#9776;</button>

            <nav class="menu"  id="particles-js" #menu>
                <ul class="menu-contenido">
                    <li><a routerLink="/inicio" routerLinkActive="active" >Inicio</a></li>
                    <li><a href="#">Cerrar sesion</a></li>
                    <li><a href="#">Actualizar Empleado</a></li>
                    <li><a href="#">Actualizar Perfil</a></li>
                    <!--li><a href="#">Incapacidad</a></li>
                    <li><a href="#">Inventario</a></li>
                    <li><a href="#">Borrar Empleado</a></li-->
                </ul>
            </nav>
    </header>
    <div  class="contenedor">
       
      <div class="columna-izquierda" #columnaizquierda></div>
        
        
      <div class="columna-central" #columnacentral>
          <div class="estilo">
              <h2 class="titulo-empresa">{{ nom_empresa }}.</h2>
          </div>
          <div class="efectos-navegación">
              <nav class="menu-central">
                  <ul class="estilonav">
                     
                    <li><a class="a_menu" routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
                    <li><a class="a_menu_set" routerLink="/regitroEmpleado" routerLinkActive="active">R.Empleado</a></li>
                    <li><a class="a_menu" routerLink="/asistencia" routerLinkActive="active">R.Asistencia</a></li>
                    <li><a class="a_menu" routerLink="/horasExtras" routerLinkActive="active" >R.Horas Extras</a></li>
                    <li><a class="a_menu" routerLink="/incapacidad" routerLinkActive="active">R.Incapacidad</a></li>
                    <li><a class="a_menu" routerLink="/InventarioGeneral" routerLinkActive="active">Inventario</a></li>
                    <li><a class="a_menu" routerLink="/deleteEmpleado" routerLinkActive="active">Borrar Empleado</a></li>
                 
                  </ul> 
              </nav>
          </div>
          <br><br><br><br>
          <div>
            <h2 class="h2">Registra la cuenta bancaria de {{ nom_empleado }}</h2>

          </div>
          <br><br><br>
          <br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br>

          

          <div class="container">
            <!--animacion de gargando imagen-->
            <div class="cargando-overlay" *ngIf="loading">
              <div class="cargando-alert">
                  <div class="spinner"></div>
                  <div>Cargando...</div>
              </div>
            </div>

            <div class="col1">
              <div class="card">
                <div class="front">

                  <div class="cont_icon" >
                    <i class="fa-solid fa-ticket icon"></i>
                  </div>

                  <span class="chip"></span>
                  <span class="num_cuenta">{{ num_cuenta }}</span>
                  <div class="tipo"><span class="tipo_cuenta">{{ tipoCuenta }}</span></div>
                  <span class="nom_banco">{{ nombreEntidad }}</span>
                  <span class="salario">{{ salario }}</span>
                </div>
              </div>
            </div>
          
            <div class="col2">
              <form class="formul_cuenta_b" >

                <label class="label_">NUMERO DE CUENTA</label>
                <div class="cont">
                  <p class="requiered">*</p>
                  <input class="inputnum_cuenta" type="text" name="num_cuenta_bancaria"  maxlength="37" [(ngModel)]="cuenta_b.num_cuenta_bancaria" (input)="updatenum_cuenta($event)" required/>  
                </div>
                
                <label class="label_">NOMBRE DE LA ENTRIDAD</label>
                <div class="cont">
                  <p class="requiered">*</p>
                  <input class="inputnom_banco" type="text" name="nom_banco" [(ngModel)]="cuenta_b.nom_banco"  (input)="updatInputNom_banco($event)" required /><br>
                </div>

                <label class="label_">TIPO DE CUENTA</label>
                <div class="cont">
                  <p class="requiered">*</p>
                  <input class="inputtipo_cuenta" type="text" name="tipo_cuenta"  [(ngModel)]="cuenta_b.tipo_cuenta"  (input)="updatiInputTipo_cuenta($event)" required /><br>
                </div>

                <label class="label_">SALARIO</label>
                <div class="cont">
                  <p class="requiered">*</p>
                  <input class="inputsalario" type="number" name="salario" maxlength="9" [(ngModel)]="cuenta_b.salario" (input)="updatInputSalario($event)" required  />
                </div>
              
              </form>
              
              <button (click)="guardar_c()" class="buttEnviar">Guardar</button>
              
            </div>
          </div>

        </div>
        <div div class="columna-derecha" #columnaderecha></div>
    </div>

  </div>
</body>
<router-outlet></router-outlet>




